<html>
    <head>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.json-2.3.min.js"></script>
    <script type="text/javascript">
 

    $(document).ready(function(){
            $("#btn_post").click(function(){
                $("#p_status").hide()
                var request = {   
                    trade_date: '20160221',  
                    stock_code: '600570',  
                    stock_name: '恒生电子',
                    close_price:'51.34',
                    high_price:'52.5',
                    low_price:'50.28',
                    open_price:'51.88',
                    preClolse_price:'50.39',
                    updown_over:'0.95',
                    updown_range:'1.8853',
                    turnove_rate:'5.3029',
                    trade_volume:'32761464',
                    turnover:'1688326732',
                    market_value:'31718117941.2',
                    circulate_marketValue:'31718117941.2'
                };  
                var encoded = $.toJSON(request)
                var jsonStr = encoded;

                $.ajax({
                    url:'http://www.zenyu.site/data/webapi',
                    type:'POST',
                    data:jsonStr,
                    dataType : 'json',  
                    success :function(data,status,xhr){
                        alert("ok")
                    },
                    error :function(xhr, error, exception){
                        alert("error");
                    }
                });
            });
        });
    </script>
    </head>
    
    <body>
    <p id="p_status">pls click post.</p>
    <button id="btn_post" name="btn">post</button>
    </body>
    
    </html> 