<html>
    <head>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.json-2.3.min.js"></script>
    <script type="text/javascript">
 

    $(document).ready(function(){
            $("#btn_get_stockinfo").click(function(){
                $("#p_status").text("execute...")
                $.ajax({
                    url:'http://www.zenyu.site/data/webapifindstockinfo',
                    type:'GET',
                    data:{stock_code: "300581", exchange_type: "CN"} ,
                    success :function(data,status,xhr){
                        $("#p_status").text("completed..")
                        var msg = "";
                        msg = msg + "stock_code="+data['stock_code']+"\r\n";
                        msg = msg + "exchangetype="+data['exchange_type']+"\r\n";
                        msg = msg + "stockname="+data['stock_name']+"\r\n";
                        alert(msg)
                    },
                    error :function(xhr, error, exception){
                        alert("error");
                    }
                });
            });


            $("#btn_post").click(function(){
                $("#p_status").text("execute...")
                var request = {   
                    exchange_type:'SHSE',
                    stock_code: '600571',  
                    stock_name: '恒生电子',
                    his_data:[{trade_date: '20160221',  
                    close_price:51.34,
                    high_price:52.5,
                    low_price:50.28,
                    open_price:51.88,
                    preClolse_price:50.39,
                    updown_over:0.95,
                    updown_range:1.8853,
                    turnove_rate:5.3029,
                    trade_volume:32761464,
                    turnover:1688326732,
                    market_value:31718117941.2,
                    circulate_marketValue:31718117941.2},
                    {trade_date: '20160222',  
                    close_price:51.34,
                    high_price:52.5,
                    low_price:50.28,
                    open_price:51.88,
                    preClolse_price:50.39,
                    updown_over:0.95,
                    updown_range:1.8853,
                    turnove_rate:5.3029,
                    trade_volume:32761464,
                    turnover:1688326732,
                    market_value:31718117941.2,
                    circulate_marketValue:31718117941.2}]
                };  
                var encoded = $.toJSON(request)
                var jsonStr = encoded;

                $.ajax({
                    url:'http://www.zenyu.site/data/webapinsertstockinfo',
                    type:'POST',
                    data:jsonStr,
                    dataType : 'json',  
                    success :function(data,status,xhr){
                        $("#p_status").text("completed..")
                        var msg = "";
                        msg = msg + "is_insert_success="+data['is_insert_success']+"\r\n";
                        msg = msg + "insert_sum="+data['insert_sum']+"\r\n";
                        msg = msg + "error_info="+data['error_info']+"\r\n";
                        alert(msg)
                    },
                    error :function(xhr, error, exception){
                        alert("error");
                    }
                });
            });
        });
    </script>
    </head>
    
    <body>
    <p id="p_status">pls click post.</p>
    <button id="btn_post" name="btn">post</button>
    <button id="btn_get_stockinfo" name="btn_get_stockinfo">get_stockinfo</button>
    </body>
    
    </html> 